.advantages {
    background-image: url(../../img/advantages-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 895px;
    display: none;

    h3 {
        margin-top: 70px;
        margin-bottom: 54px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 70px;
    }

    &__img {
        background-image: url(../../img/house2.png);
        background-repeat: no-repeat;
    }

    &__list {
        font-size: 18px;
        font-family: RobotoThin, serif;

        li {
            margin-bottom: 30px;
        }
    }
}