.programs {
    margin-bottom: 114px;

    h3 {
        font-size: 39px;
        text-align: center;
        margin-bottom: 52px;
    }

    h5 {
        font-size: 26px;
    }

    a {
        font-size: 20px;
        font-family: RobotoLight, serif;
        color: #0b983a;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
    }

    &__content-wrapper {
        max-width: 450px;
    }

    &__list {
        padding-inline-start: 20px;
        font-size: 14px;
        font-family: RobotoLight, serif;
        margin: 0;

        li {
            margin-bottom: 17px;
            line-height: 34px;
        }
    }

    &__img {
        background-image: url(../../img/kids.png);
        background-repeat: no-repeat;
        width: 380px;
        height: 415px;
    }

    @media (max-width: 1200px) { 
        &__img {
            margin-right: 20px;
        }
    }

    @media (max-width: 768px) { 
        &__img {
            background-image: url(../../img/kids-tablet.png);
            width: 50%;
            background-size: 100%;
        }

        &__content-wrapper { 
            width: 50%;
            max-width: auto;
        }
    }

    @media (max-width: 576px) { 
        margin-bottom: 53px;

        h3 {
            font-size: 23px;
        }

        h5 {
            font-size: 20px;
        }

        &__content { 
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__content-wrapper {
            width: 100%;
            max-width: 290px;
        }

        &__img {
            margin-right: 0;
            width: 240px;
            height: 260px;
            margin-bottom: 27px;
        }

        &__list { 
            li {
                margin-bottom: 31px;
            }
        }
    }
}