.top-slider {
    height: 438px;
    margin-bottom: 52px;
    max-width: 1170px;
    margin: 0 auto;

    &__slide {
        background-image: url(../../img/slide1.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        // background-size: cover;
        color: #fff;
        height: 438px;
        // max-width: 90vw;

        &--cat {
            background-image: url(../../img/cat.png);
            background-size: cover;
        }

        &--office {
            background-image: url(../../img/ladder.png);
            background-size: cover;
        }

        h2 {
            font-family: RobotoBold, serif;
            font-size: 52px;
            margin-top: 129px;
            margin-bottom: 30px;
            border-bottom: 3px solid #fff;
            display: inline-block;
            padding-bottom: 8px;
        }

        p {
            font-size: 16px;
            max-width: 300px;
        }
    }

    .slick-dots {
        bottom: 40px;
        // right: 290px;
        // right: 10%;
        left: 90%;
        transform: translateX(-80%);
        width: 20px;
        // background-color: purple;

        li {
            margin-bottom: 15px;

            button {
                font-size: 0;
                line-height: 0;
                display: block;
                width: 20px;
                height: 20px;
                padding: 5px;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
                position: relative;
        
                &:before {
                    background-image: url(../../img/dot-polygon.svg);
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 13px;
                    height: 14px;
                    content: '';
                    text-align: center;
                }
            }

            &.slick-active {
                button {
                    &:before { 
                        background-image: url(../../img/dot-polygon-active.svg);
                    }
                }
            }
        }
    } 

    @media (max-width: 768px) { 
        h2, p {
            margin-left: 80px;
        }
    }

    @media (max-width: 576px) { 
        h2, p {
            margin-left: 2%;
            max-width: 285px;
        }

        h2 { 
            font-size: 32px;
        }

        p {
            font-size: 13px;
        }
    }
}